@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center ;
  align-items: center;
  min-height: 100vh;
font-family: "poppins" sans-serif;
background: #333;
}

.container{
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
}

.container .card{
  position: relative;
  width: 300px;
  height: 300px;
  background: #fff;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  transition: 0.5s;
  overflow: hidden;
}

.container .card:hover{
  height: 420px;
}

.container .card .imgBx{
  position: relative;
  width: 100%;
  height: 275px;
  background: var(--img); 
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  filter: blur(25px);
}


.container .card:hover .imgBx{
  background-size: 110%;
  filter: blur(0);
}
.container .card .imgBx::before
{
  content: "";
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 80px;
  border-radius: 40px;
  background: #fff;
}

.container .card .imgBx::after{
  content: "";
  position: absolute;
  right: 0;;
  bottom: 40px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: transparent;
  box-shadow: 75px 70px 0 40px #fff;
}

.container .card .content{
  position: relative;
  top: -40px;
  z-index: 10;
  padding: 0 30px;
  transition: 0.5s;
}

.container .card .content h3{
  font-size:  1.25em;
  color: #333;
}

.container .card .content h3 span{
position:  absolute;
bottom:80px;
font-weight: 400;
font-size: 0.65em;
opacity: 0.75;
}

.container .card .content  p{
position: relative;
opacity: 0;
transition: 0.5s;
color: #333;
}

.container .card:hover .content p{
  opacity: 1 ;
}